body {
  margin: 20px;
  font-family: 'Slackey', cursive;
  color: white;
  background-color: #336666;
}

#hand-one {
  border: 1px solid black;
}


#hand-two {
  border: 1px solid black;
}

.card-img {
  height: 300px;
  border: 1px solid;
  border-radius: 4%;
  box-shadow: 10px 5px 5px black;
}

h1 {
  font-size: 120px;
  text-shadow: 4px 4px 7px black;
}

h2 {
  font-size: 45px;
  padding-bottom: 40px;
}

.back-card {
  display: inline;
}

.player {
  float: left;
  padding: 15px;
}

.comp {
  float: right;
  padding: 15px;
}

button {
  font-family: 'Oxygen', sans-serif;
}